<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t(:most_popular_interests) %></h3>
  </div>
  <ul class="list-group">
    <% @interests.each do |interest| %>
      <li class="list-group-item">
        <%= interest %>
      </li>
    <% end %>
  </ul>
</div>
