<div class="row">
  <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t(:edit_profile) + " - " + resource_name.to_s.humanize %>
        </h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, id: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :interest_list, "Interests (separated by commas)" %><br />
            <%= f.text_field :interest_list, autofocus: true, id: "interest_list", class: "form-control"%>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="center-block">
            <%= f.submit t(:update), class: "btn btn-primary" %>
            <%= link_to t(:back), :back, class: "btn btn-default" %>
            <%= link_to t(:cancel_account), registration_path(resource_name), data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
    <%= render 'popular_interests' %>
  </div>
</div>
