<div class="row">
  <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t(:singup) %></h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, id: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", id: "password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", id: "password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :interest_list, "Interests (separated by commas)" %><br />
            <%= f.text_field :interest_list, id: "interest_list", class: "form-control"%>
          </div>

          <div class="actions">
            <%= f.submit t(:singup), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
    <%= render 'popular_interests' %>
  </div>
</div>