<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2><%= t(:recent_alerts) %></h2>
      </div>
      <div class="panel-body">
        <% @alerts.each do |alert| %>
          <%= render :partial => 'shared/alert', :locals => {:alert => alert} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2><%= t(:recommended_alerts) %></h2>
      </div>
      <div class="panel-body">
        <% @recommended_alerts.each do |alert| %>
          <%= render :partial => 'shared/alert', :locals => {:alert => alert} %>
        <% end %>
      </div>
    </div>
  </div>
</div>