<h1>Listing alerts</h1>

<table>
  <thead>
    <tr>
      <th>Impact</th>
      <th>Source</th>
      <th>Title</th>
      <th>Body</th>
      <th>Views</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.impact %></td>
        <td><%= alert.source %></td>
        <td><%= alert.title %></td>
        <td><%= alert.body %></td>
        <td><%= alert.views %></td>
        <td><%= link_to 'Show', alert %></td>
        <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alert', new_alert_path %>
