<p id="notice"><%= notice %></p>

<p>
  <strong>Impact:</strong>
  <%= @alert.impact %>
</p>

<p>
  <strong>Source:</strong>
  <%= @alert.source %>
</p>

<p>
  <strong>Title:</strong>
  <%= @alert.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @alert.body %>
</p>

<p>
  <strong>Views:</strong>
  <%= @alert.views %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
