/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.list-alerts {
  span.add-tag {
    a.add-tag-link{
      color: white
    }
  }

  span.badge {
    background-color: transparent;

    a.like_alert {
      color: white;
    }

    a.dislike_alert {
      color: white;
    }

    span.likes {
      color: #2b542c
    }

    span.dislikes{
      color: #843534
    }
  }

  div.show{
    display: block;
  }
}
