<!DOCTYPE html>
<html>
<head>
  <title>Konsilo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <div class="page-header">
    <h1><%= t(:welcome) %></h1>
  </div>
  <div id="main-contatiner" class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <%= link_to("Home", {controller: "/home", action: "index"}, class: "navbar-brand") %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.email %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to(t(:edit_profile), edit_user_registration_path) %>
                  </li>
                  <li>
                    <%= link_to(t(:logout), destroy_user_session_path, :method => :delete) %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to(t(:singup), new_user_registration_path) %>
              </li>
              <li>
                <%= link_to(t(:login), new_user_session_path) %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <div id="content" class="container">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
